.input-range__label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

.input-range__slider {
    background: #09d3ac;
    border-color: #fff;
}

.input-range__track--active {
    background: #09d3ac;
}

.input-range__label--max .input-range__label-container,
.input-range__label--min .input-range__label-container {
    display: none;
}
